@charset "UTF-8";

//圆角border-radius
@mixin border-radius($radius:5px) {
    -webkit-border-radius:$radius;
       -moz-border-radius:$radius;
        -ms-border-radius:$radius;
            border-radius:$radius;
}

//过渡transition
@mixin transition($transition) {
    -webkit-transition:$transition;
       -moz-transition:$transition;
        -ms-transition:$transition;
            transition:$transition
}

//动画


//单行文字超出显示...text-overflow
@mixin text-overflow($text:ellipsis) {
    text-overflow:$text;
    overflow: hidden;
    white-space: nowrap;
}

//多行文本,$num显示行数
@mixin line-clamp($num:2){
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:$num;
    -webkit-box-orient: vertical;
}

