/*清除默认样式*/
body,ul,li,h1,h2,input {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	border: none;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}